<!DOCTYPE html>
<html>
  <head>
    <title>メモアプリ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
  </head>
  <body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
        <a href="/">メモアプリ</a>
        </h1>
      </div>
    </div>
  </section>
  <%= yield %>
  </body>
</html>